/* Main container for the map view */
.map-page {
  position: relative;
  width: 360px; /* Ensure this matches the width of your home screen for consistency */
  height: 800px;
  margin: auto;
  overflow: hidden; /* Prevents content from spilling outside the boundaries */
}

/* Styles for the Leaflet map to occupy the full container */
.leaflet-map {
  width: 100%;
  height: 100%;
}

/* Styling for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-around; /* Evenly spaces items within the navbar */
  align-items: center; /* Vertically centers items */
  position: fixed; /* Keeps navbar at screen bottom */
  bottom: 0;
  width: 360px; /* Ensures consistency with .map-page width */
  margin: auto; /* Centers navbar horizontally */
  height: 78px;
  background-color: #fffcfc6e; /* Semi-transparent background */
  border-radius: 23px; /* Rounded corners for styling */
  z-index: 1000; /* Keeps navbar above other content */
}

/* Style for each navbar item */
.navbar-item {
  margin: 0 10px; /* Provides spacing between navbar items */
}

/* Style for the back button to avoid overlapping */
.back-button-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1010; /* Ensures the back button is above the navbar */
}

/* Style for the search bar on the map */
.search {
  position: absolute;
  width: 100%; /* Allows the search bar to fill container width */
  top: 20px; /* Positions the search bar below the top edge */
  z-index: 1000; /* Ensures search is above the map */
}

/* Input field styling within the search bar */
.input {
  width: calc(100% - 20px); /* Adjusts for padding on either side */
  margin: 0 10px; /* Centers input field within the search bar */
}
