/* Apply a universal box-sizing rule and reset default margins and paddings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a consistent font across the app */
body {
  font-family: 'Lexend', sans-serif;
}

/* Define the main container for the map page */
.map-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  width: 360px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Set up the map container */
.leaflet-map {
  width: 100%;
  height: calc(100% - 78px); /* Height adjusted for navbar */
}

/* Style the navigation bar at the bottom of the map */
.navbar {
  background-color: #fffcfc6e;
  border-radius: 23px;
  height: 78px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style the navigation items */
.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

/* Style the icons in the navigation bar */
.navbar-item .icon {
  height: 41px;
  width: 41px;
}

/* Style the labels under the icons */
.navbar-item .label {
  font-size: 15px;
  font-weight: 300;
  margin-top: 4px;
}

/* Highlight the active navigation item */
.navbar-item.active .icon,
.navbar-item.active .label {
  color: #3748de;
}

/* Position the back button below the map's zoom controls */
.back-button-icon {
  height: 43px;
  width: 43px;
  position: absolute;
  top: 80px; /* Adjusted to sit below zoom controls */
  left: 10px;
  z-index: 1000;
}
